
html {
	margin: 0;
	padding: 0;
}

* {
	font-family: "Century Gothic", Arial, sans-serif;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* !!!!! Menu Bar Global !!!!! */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!! */
/*
.icon_menu {
	width: 50px;
	border-radius: 50%;
	transition: hover 0.3s ease-out;
	position: absolute;
	right: 0%;
	top: 0%;
}

.icon_menu:hover .menu_bar {
	display: flex;
}
*/

.menu_bar {
	display: flex;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
    background-color: #97caef;
    border-radius: 25px;
    z-index: 10;
}

.menu_bar .left, .center, .right {
	display: flex;
	flex-direction: horizontal;
	text-align: center;
	padding: 5px;
}

.menu_bar .left {
	width: 30%;
	margin-left: 3%;
}

.menu_bar .center {
    width: 50%;
}

.menu_bar .right {
	width: 20%;
}

.menu_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* !!!!! Menu Bar Elements !!!!! */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.menu_bar a {
	display: block;
    color: #000;
    padding: 8px 16px 8px 16px;
    min-width: 100px;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    transition: background-color 0.3s ease-out,
    			color 0.1s ease-out;
}

.menu_bar a:hover {
    background-color: #555;
    color: white;
}

.menu_bar img {
	width: 30px;
	border-radius: 50%;
	transition: width 0.3s ease-out;
	position: absolute;
}

.menu_bar img:hover {
	width: 50px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
	position: absolute;
}

.menu_bar .active {
    background-color: #0074D9;
    color: white;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* !!!!! Titre Milieu de Page !!!!! */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.bs_title, .bs_subtitle {
	display: flex;
	justify-content: center;
	color: white;
	font-family: "Century Gothic";
}

.bs_title {
	position: relative;
	top: 250px;
}

.bs_subtitle {
	position: relative;
	top: 260px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* !!!!! Image Background Main !!!!! */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/*
.background_main_img {
	position: relative;
	width: 100;
}*/

.home_page_1 {
	background-image: url("images/cockpit_night_airplane.jpg!d");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 500px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* !!!!!!!!!! Home Page 2 !!!!!!!!!! */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.home_page_2 h2 { 
	margin: 2em 0 0 0;
	color: #2e484c;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 1.8em;
	font-weight: normal;
	text-transform: uppercase;
}