
html {
	margin: 0;
	padding: 0;
}

* {
	font-family: "Helvetica Neue", Arial, sans-serif;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* !!!!! Menu Bar Global !!!!! */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!! */
/*
.icon_menu {
	width: 50px;
	border-radius: 50%;
	transition: hover 0.3s ease-out;
	position: absolute;
	right: 0%;
	top: 0%;
}

.icon_menu:hover .menu_bar {
	display: flex;
}
*/

.menu_bar {
	display: flex;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
    background-color: #192933;
    z-index: 10;
}

.menu_bar .left, .center, .right {
	display: flex;
	flex-direction: horizontal;
	text-align: center;
	padding: 5px;
}

.menu_bar .left {
	width: 30%;
	margin-left: 3%;
}

.menu_bar .center {
    width: 50%;
}

.menu_bar .right {
	width: 20%;
}

.menu_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* !!!!! Menu Bar Elements !!!!! */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.menu_bar a {
	display: block;
    color: #FFF;
    padding: 8px 16px 8px 16px;
    min-width: 100px;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    transition: background-color 0.3s ease-out,
    			color 0.1s ease-out;
}

.menu_bar a:hover {
    background-color: #5F829B;
    color: white;
}

.menu_bar img {
	width: 30px;
	border-radius: 50%;
	transition: width 0.3s ease-out;
	position: absolute;
}

.menu_bar img:hover {
	width: 50px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
	position: absolute;
}

.menu_bar .active {
    background-color: #28576D;
    color: white;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* !!!!! Titre Milieu de Page !!!!! */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.bs_title, .bs_subtitle {
	display: flex;
	justify-content: center;
	color: white;
	font-family: "Helvetica Neue";
}

.bs_title {
	font-family: "Helvetica Neue";
	position: relative;
	top: 55px;
	font-size: 4.2em;
	text-transform: uppercase;
	font-weight: bold;
	color:#FFF;
	letter-spacing: 30px;
}

.bs_subtitle {
	font-family: "Helvetica Neue";
	position: relative;
	top: 300;
	letter-spacing: 5px;
	color:#FFF;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* !!!!! Image Background Main !!!!! */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


.home_div_1 {
	background-image: url("images/voiture2.jpg");
	box-sizing: border-box;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 500px;

}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* !!!!!!!!!! Home Div 2 !!!!!!!!!! */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.home_div_2 h1 {
	font-family:'Helvetica Neue', sans-serif; 
	text-transform: uppercase;
	text-align: center;
	color : #4f4f4f;
	font-size: 250%;
	letter-spacing: 3px;
	margin: 0;
	padding-top: 5%;
	height: 200px;
	background-color: #FFF;
}

.home_div_2 .column {
  display: inline-flex;
  justify-content: center;
  width: 33%;
  margin:0px;
}

.home_div_2 .column h2 {
	font-family:'Helvetica Neue', sans-serif; 
	text-transform: uppercase;
	text-align: center;
	color : #4f4f4f;
	font-size: 550%;
	letter-spacing: 3px;
	margin: 0;
	padding: 0;
	height: 110px;
	background-color: #FFF;
}

.home_div_2 .column h1 {
	font-family:'Helvetica Neue', sans-serif; 
	text-transform: uppercase;
	text-align: center;
	color : #4f4f4f;
	font-size: 175%;
	letter-spacing: 3px;
	margin: 0;
	height: 150px;
	padding-bottom: 5%;
	background-color: #FFF;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* !!!!!!!!!! Home Div 3 !!!!!!!!!! */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.home_div_3 {
	background-image: url("images/mesures3.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 750px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* !!!!!!!!!! FAQ  Page 1 !!!!!!!!!! */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.faq_div_1{
	background-image: url("images/FAQ2.jpg");
	background-attachment: fixed;
	background-color: #333;
	background-size: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 500px;
}

.faq_div_2,..faq_div_3, .faq_div_4, .faq_div_5, .faq_div_6{
	margin-bottom: 100px;
}


.question{
	text-align: center;
	justify-content: center;
	color: #2e484c;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 2.2em;
	font-weight: normal;
	text-transform: uppercase;
	display: flex;	
}

.answer{
	text-align: center;
	justify-content: center;
	color: #2e484c;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 1.0em;
	font-weight: normal;
	display: flex;
	height: 100px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* !!!!!!!! contact  Page 1 !!!!!!!! */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.contact_div_1{
	background-image: url("images/contact3.jpg");
	background-color: #333;
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 500px;
}


.contact_title{
	text-align: center;
	justify-content: center;
	color: #2e484c;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 2.2em;
	font-weight: normal;
	text-transform: uppercase;
	display: flex;	

}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #3B9DAD;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #2F7F8D;
}

.container {
  border-radius: 5px;
  background-color: #DFE7EE;
  padding: 20px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* !!!!!!! Our Story  Page 1 !!!!!!! */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.our_story_page_1{
	background-image: url("images/library.jpg");
	background-color: #333;
	background-size: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 500px;
}
